<!DOCTYPE html>
<html>
<head>
  <title>Overflow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">

 <br />

  <% if current_user %>
  <p class="nav">Logged in as <%= current_user.name %></p>
  &nbsp;
  &nbsp;
  <%= link_to "Log Out", session_path('current'), method: "delete" %>
  <% end %>
  &nbsp;
  &nbsp;
  <%= link_to "Login", new_session_path %>

  &nbsp;
  &nbsp;
  &nbsp;
  <%= link_to "New User", new_user_path %>

  </div>
</div>
</nav>

<%= yield %>
</div>
</body>
</html>
